body.non-login-body
{
	background-color: #f2f2f2 !important;
	padding-bottom: 5%;
	line-height:20px;
}
.btn
{
	margin: 1px;
}

.btn.btn-primary
{
	background-color: #ddd;
	border: none;
	color: #444;
	font-weight: bold;
	/*padding-left: 20px;
	padding-right: 20px;*/
	width:30%;
}

.btn.btn-primary:hover,
.btn.btn-primary:active:focus,
.btn.btn-primary:active,
.btn.btn-primary:focus
{
	background-color:#66a3ff;
}

.btn.btn-primary-blue
{
	background-color: #66a3ff;
	border: none;
	color: #eee;
	font-weight: bold;
	/*padding-left: 20px;
	padding-right: 20px;*/
	width:90%;

}
.btn.btn-primary-red
{
	background-color: #ff0000;
	border: none;
	color: #eee;
	font-weight: bold;
	/*padding-left: 20px;
	padding-right: 20px;*/
	width:90%;

}

.btn.btn-primary-blue:hover,
.btn.btn-primary-blue:active:focus,
.btn.btn-primary-blue:active,
{
	background-color:#66a3ff;
}

.btn-custom-btm-op
{
	width: 45%;
}

.namebox-info h3
{
	font-size: 14px !important;
	margin: 5px 0px 5px 0px;
}

.jumbotron.tron-2
{
	background-color: transparent;
}

.jumbotron.tron-body
{
	background-color: #ffffff !important;
}

.jumbotron.tron-body.tron-profile
{
	clear:both;
	margin: 1% 0 0 0 !important;
	padding: 2% 2% 2% 2% ;
}
/*This img-circle sizing is a very ghetto px hack, needs changed */
.img-circle.img-profile
{
	height: 110px;
	width: 110px;
	margin-bottom: 10%;
}

/*-------Ghetto hack above--------*/
.font-bold
{
	font-weight:bold;
	color: #66a3ff;
}

.font-profile-content
{
	font-size:12px !important;
}
